
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* sheared styles */
.display-flex{
    display: flex;
    
}
/* colors */
.primary-color{
    color: #3A3A3A;
}

/* navbar styles */
.navbar{
    justify-content: space-around;
}
.brand{
    font-size: 1.5rem;
    font-weight: 800;
}
.page{
    list-style: none;
    gap: 30px;
    font-weight: 600;
}
.link{
    text-decoration: none;
    color: #3A3A3A;
}
.nav-icon{
    width: 24px;
    height: 24px;
    filter: grayscale(100%)
}

